*{
  margin:0;
  padding:0;
}
p{
  font-family:"Inter", sans-serif;
}
h1{
  font-family: "Inter", sans-serif;
}

h6{
font-family: "Inter", sans-serif;
}

h4{
  font-family: "Inter", sans-serif;
}
h5{
   font-family: "Inter", sans-serif;
}
.acceuil{
  background-image: url("images/Frame\ 1000002035.png");
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

#under{
  margin:15px;
}

#logo{
  position: relative;
  height: 130px;
  bottom: 50px;
}
.search-box input{
  color: white;
  height: 35px;
  background-color:#175190;
}
.search-box ::placeholder{
  color:white;
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  font-size: 16px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hleft{
  position: relative;
  left: 120px;
  bottom: 200px;
  color: white;
}
.hleft a {
  color: white;
  text-decoration: none;
}
.hleft .or-text{
  font-weight: bold;
}

.horaire{
  margin-top: 90px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.hright{
  margin-top:0px;
}

#i1{
  width: 500px;
}

.partners{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}
.partners img{
  margin-top: 25px;
  width: 250px;
  height: 60px;
}


.About{
  display: flex;
  background-image: url("images/Frame\ 1000001998.png");
  width: 100%;
  background-repeat:no-repeat;
}
.about-left{
  position: relative;
  left: 120px;
}
.about-right{
  margin-left: 200px;
}
.about-right p{
  font-size: 15px;
  margin: 20px 20px 20px 0px;
}
.about-right h1{
  font-size: 50px;
  color:#3498db;
}
.about-right h4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  margin: 20px 20px 20px 0px;
  font-size: 20px;
}




.stat{
  background-color: white;
  height: 200px;
}
.stat h1{
  color: #3498db;
  font-size: 60px;
}
.stat ul {
  display: flex;
  justify-content: center;
  gap: 200px;
  list-style: none;
  padding: 0;
}

.stat li {
  text-align: center;
  margin-top:40px;
}
.stat li p{
  margin-top: 20px;
}

.user-story{
  margin-top: -25px;
  border-radius: 30px;
  border: 2px solid;
  border-color: rgb(196, 194, 194);
  padding:30px;
  width: 500px;
}
.more-about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 200px;
  margin-top: 30px;
}
.more-about-us a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.our-services{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f4f8fb;
}
.our-services-top{
  display: flex;
  justify-content: space-between;
}
.our-services-left{
  margin-left:120px;
}
.our-services-left p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.our-services-left h1{
  color:#3498db;
  font-size:  45px;
}
.our-services-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:120px;
  margin-right:120px;
}

.card1{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card1images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card1images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card2{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card2images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card2images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card3{
  background-color: white;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.card3images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card3images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.cardx3{
  display: flex;
  justify-content: space-between;
  gap:0px;
}
.cardx6{
  display: flex;
  justify-content: space-between;
  gap:0px;
}

.card4{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card4images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card4images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card5{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card5images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card5images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card6{
  background-color: white;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.card6images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card6images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}

.card1{
  border-radius: 30px;
}

.card2{
  border-radius: 30px;
}
.card3{
  border-radius: 30px;
}
.card4{
  border-radius: 30px;
}
.card5{
  border-radius: 30px;
}
.card6{
  border-radius: 30px;
}
.card1text{
  padding: 20px;
}
.card1text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card2text{
  padding: 20px;
}
.card2text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card3text{
  padding: 20px;
}
.card3text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card4text{
  padding: 20px;
}
.card4text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card5text{
  padding: 20px;
}
.card5text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card6text{
  padding: 20px;
}
.card6text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}

.explore-more a{
  text-decoration: none;
  color:#ff6f61
}

.explore-more{
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ff6f61;
  border-radius: 30px;
  background:#ffffff;
  width:  150px;
  border: 2px solid #ff6f61;
  margin-top: 30px;
  padding: 15px;
}

.more-services {
  position: relative;
  margin-left: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  gap: 10px;
}
.more-services a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.our-doctors{
  padding-top: 1px;
  background-color: #ffffff;
}

.our-doctors-top p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  font-size: 20px;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left:650px;
}

.our-doctors-top h1{
  color:#3498db;
  font-size:  45px;
  margin-left: 510px;
}

.dcard1{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard1images{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.dcard2{
  background-color:#f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard2images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dcard3{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.dcard3images{
  display: flex;
  justify-content: center;
  align-items: center;
}



.dcardx3{
  display: flex;
  justify-content: space-between;
  gap:0px;
}
.dcardx6{
  display: flex;
  justify-content: space-between;
  gap:0px;
}

.dcard4{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard4images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dcard5{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard5images{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dcard6{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.dcard6images{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dcard1{
  border-radius: 30px;
}

.dcard2{
  border-radius: 30px;
}
.dcard3{
  border-radius: 30px;
}
.dcard4{
  border-radius: 30px;
}
.dcard5{
  border-radius: 30px;
}
.dcard6{
  border-radius: 30px;
}
.dcard1text{
  padding: 20px;
}
.dcard1text h4{
  font-size: 30px;
  color:#5997cb;
  margin-left: 50px;
  margin-bottom: 20px;
}

.dcard1text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 95px;

}
.dcard1text p{
  margin-top: 20px;
  margin-left: 25px;
}
.dcard2text{
  padding: 20px;
}
.dcard2text h4{
  font-size: 30px;
  color:#5997cb;
  margin-left: 50px;
  margin-bottom: 20px;
}
.dcard2text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 120px;

}
.dcard2text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard3text{
  padding: 20px;
}

.dcard3text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard3text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 20px;
}
.dcard3text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 100px;
}

.dcard4text{
  padding: 20px;
}
.dcard4text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 50px;
}
.dcard4text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 90px;
}
.dcard4text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard5text{
  padding: 20px;
}
.dcard5text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 60px;
}

.dcard5text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 115px;

}

.dcard5text p{
  margin-top: 20px;
  margin-left: 25px;
}
.dcard6text{
  padding: 20px;
}
.dcard6text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 60px;
}
.dcard6text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 110px;
}
.dcard6text p{
  margin-top: 20px;
  margin-left: 25px;
}

.see-doctors{
  display: flex;
  justify-content: center;
  border:2px solid;
  border-radius: 30px;
  border-color: #ffffff;
  background-color: #ffffff;
  margin: 100px;
}
.sdleft{
  width: 813px;
  background-image:url(images/Rectangle\ 96.png);
  background-repeat: no-repeat;
}

.sdright img{
  border-right: 2px solid;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sdleft h1{
  font-size: 50px;
  margin: 60px;
  color: white;
}
.sdleft p{
  color: white;
  margin:60px;
}
.bookappointmentbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#e3faff;
  width: 200px;
  margin-top: 80px;
  margin-left: 50px;
  width: 300px;
  padding: 15px;
  gap:10px;
}
.bookappointmentbtn a{
  text-decoration: none;
  color: #2677bc;
}