*{
  margin:0;
  padding:0;
}
p{
  font-family:"Inter", sans-serif;
}
h1{
  font-family: "Inter", sans-serif;
}

h2{
  font-family: "Inter", sans-serif;
}

h6{
font-family: "Inter", sans-serif;
}

h4{
  font-family: "Inter", sans-serif;
}
h5{
   font-family: "Inter", sans-serif;
}
.acceuil{
  background-image: url("images/Frame\ 1000002035.png");
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

#under{
  margin:15px;
}

#logo{
  position: relative;
  height: 130px;
  bottom: 50px;
}
.search-box input{
  color: white;
  height: 35px;
  background-color:#175190;
}
.search-box ::placeholder{
  color:white;
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  font-size: 16px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hleft{
  position: relative;
  left: 120px;
  bottom: 200px;
  color: white;
  
}
.hleft a {
  color: white;
  text-decoration: none;
}
.hleft .or-text{
  font-weight: bold;
}

.horaire{
  margin-top: 90px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.hright{
  margin-top:0px;
}

#i1{
  width: 500px;
}

.partners{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}
.partners img{
  margin-top: 25px;
  width: 250px;
  height: 60px;
}


.About{
  display: flex;
  background-image: url("images/Frame\ 1000001998.png");
  width: 100%;
  background-repeat:no-repeat;
}
.about-left{
  position: relative;
  left: 120px;
}
.about-right{
  margin-left: 200px;
}
.about-right p{
  font-size: 15px;
  margin: 20px 20px 20px 0px;
}
.about-right h1{
  font-size: 50px;
  color:#3498db;
}
.about-right h4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  margin: 20px 20px 20px 0px;
  font-size: 20px;
}




.stat{
  background-color: white;
  height: 200px;
}
.stat h1{
  color: #3498db;
  font-size: 60px;
}
.stat ul {
  display: flex;
  justify-content: center;
  gap: 200px;
  list-style: none;
  padding: 0;
}

.stat li {
  text-align: center;
  margin-top:40px;
}
.stat li p{
  margin-top: 20px;
}

.user-story{
  margin-top: -25px;
  border-radius: 30px;
  border: 2px solid;
  border-color: rgb(196, 194, 194);
  padding:30px;
  width: 500px;
}
.more-about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 200px;
  margin-top: 30px;
}
.more-about-us a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.our-services{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f4f8fb;
}
.our-services-top{
  display: flex;
  justify-content: space-between;
}
.our-services-left{
  margin-left:120px;
}
.our-services-left p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.our-services-left h1{
  color:#3498db;
  font-size:  45px;
}
.our-services-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:120px;
  margin-right:120px;
}

.card1{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card1images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card1images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card2{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card2images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card2images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card3{
  background-color: white;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.card3images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card3images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.cardx3{
  display: flex;
  justify-content: space-between;
  gap:0px;
}
.cardx6{
  display: flex;
  justify-content: space-between;
  gap:0px;
}

.card4{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card4images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card4images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card5{
  background-color: white;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.card5images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card5images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}
.card6{
  background-color: white;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.card6images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.card6images p{
  color: #d6f6fd;
  font-weight:bold;
  font-size: 60px;
}

.card1{
  border-radius: 30px;
}

.card2{
  border-radius: 30px;
}
.card3{
  border-radius: 30px;
}
.card4{
  border-radius: 30px;
}
.card5{
  border-radius: 30px;
}
.card6{
  border-radius: 30px;
}
.card1text{
  padding: 20px;
}
.card1text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card2text{
  padding: 20px;
}
.card2text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card3text{
  padding: 20px;
}
.card3text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card4text{
  padding: 20px;
}
.card4text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card5text{
  padding: 20px;
}
.card5text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}
.card6text{
  padding: 20px;
}
.card6text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
}

.explore-more a{
  text-decoration: none;
  color:#ff6f61
}

.explore-more{
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ff6f61;
  border-radius: 30px;
  background:#ffffff;
  width:  150px;
  border: 2px solid #ff6f61;
  margin-top: 30px;
  padding: 15px;
}

.more-services {
  position: relative;
  margin-left: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  gap: 10px;
}
.more-services a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.our-doctors{
  padding-top: 1px;
  background-color: #ffffff;
}

.our-doctors-top p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  font-size: 20px;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left:650px;
}

.our-doctors-top h1{
  color:#3498db;
  font-size:  45px;
  margin-left: 510px;
}

.dcard1{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard1images{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.dcard2{
  background-color:#f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard2images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dcard3{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.dcard3images{
  display: flex;
  justify-content: center;
  align-items: center;
}



.dcardx3{
  display: flex;
  justify-content: space-between;
  gap:0px;
}
.dcardx6{
  display: flex;
  justify-content: space-between;
  gap:0px;
}

.dcard4{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard4images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dcard5{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-left: 120px;
  width: 400px;
}
.dcard5images{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dcard6{
  background-color: #f4f8fb;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  width: 400px;
}
.dcard6images{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dcard1{
  border-radius: 30px;
}

.dcard2{
  border-radius: 30px;
}
.dcard3{
  border-radius: 30px;
}
.dcard4{
  border-radius: 30px;
}
.dcard5{
  border-radius: 30px;
}
.dcard6{
  border-radius: 30px;
}
.dcard1text{
  padding: 20px;
}
.dcard1text h4{
  font-size: 30px;
  color:#5997cb;
  margin-left: 50px;
  margin-bottom: 20px;
}

.dcard1text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 95px;

}
.dcard1text p{
  margin-top: 20px;
  margin-left: 25px;
}
.dcard2text{
  padding: 20px;
}
.dcard2text h4{
  font-size: 30px;
  color:#5997cb;
  margin-left: 50px;
  margin-bottom: 20px;
}
.dcard2text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 120px;

}
.dcard2text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard3text{
  padding: 20px;
}

.dcard3text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard3text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 20px;
}
.dcard3text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 100px;
}

.dcard4text{
  padding: 20px;
}
.dcard4text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 50px;
}
.dcard4text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 90px;
}
.dcard4text p{
  margin-top: 20px;
  margin-left: 25px;
}

.dcard5text{
  padding: 20px;
}
.dcard5text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 60px;
}

.dcard5text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 115px;

}

.dcard5text p{
  margin-top: 20px;
  margin-left: 25px;
}
.dcard6text{
  padding: 20px;
}
.dcard6text h4{
  font-size: 30px;
  color:#5997cb;
  margin-bottom: 20px;
  margin-left: 60px;
}
.dcard6text h5{
  font-size: 20px;
  color: #ff6f61;
  margin-left: 110px;
}
.dcard6text p{
  margin-top: 20px;
  margin-left: 25px;
}

.see-doctors{
  display: flex;
  justify-content: center;
  border:2px solid;
  border-radius: 30px;
  border-color: #ffffff;
  background-color: #ffffff;
  margin: 100px;
}
.sdleft{
  width: 813px;
  background-image:url(images/Rectangle\ 96.png);
  background-repeat: no-repeat;
}

.sdright img{
  border-right: 2px solid;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sdleft h1{
  font-size: 50px;
  margin: 60px;
  color: white;
}
.sdleft p{
  color: white;
  margin:60px;
}
.bookappointmentbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#e3faff;
  width: 200px;
  margin-top: 80px;
  margin-left: 50px;
  width: 300px;
  padding: 15px;
  gap:10px;
}
.bookappointmentbtn a{
  text-decoration: none;
  color: #2677bc;
}

.pricing{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f4f8fb;
}
.pricing-top{
  display: flex;
  justify-content: space-between;
}
.pricing-left{
  margin-left:120px;
}
.pricing-left p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pricing-left h1{
  color:#3498db;
  font-size:  45px;
}
.pricing-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:120px;
  margin-right:120px;
}

.price1{
  border: 1px solid;
  border-radius:30px ;
  border-color: black;
  width: 400px;
}

.pricing-text{
  padding: 30px;
}
.pricing-text h2{
  color: #2677bc;
  margin-bottom: 20px;
  font-size: 40px;
}
.pricing-text p{
  margin-bottom: 30px;
}
.dollar h2{
  color: #3498db;
}
.dollar span{
  color:#969696;
  font-size: 20px;
  opacity: 50%;
}
.features{
  margin-left: 30px;
  margin-top: -20px;
}
.features h4{
  color: #4da5df;
  margin-bottom: 15px;
}
.feature1{
  display: flex;
  align-items: center;
  gap:15px;
  margin-bottom: 15px;
}
.feature2{
  display: flex;
  align-items: center;
  gap:15px;
  margin-bottom: 15px;
}
.feature3{
  display: flex;
  align-items: center;
  gap:15px;
  margin-bottom: 15px;
}
.feature4{
  display: flex;
  align-items: center;
  gap:15px;
  margin-bottom: 15px;
}

.more-features a{
  text-decoration: none;
  color:#ff6f61
}

.more-features{
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ff6f61;
  border-radius: 30px;
  background:#ffffff;
  width:  250px;
  border: 2px solid #ff6f61;
  margin-top: 30px;
  padding: 15px;
  margin-left:30px;
}

.Chooseplan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  gap: 10px;
  margin-left:30px;
}
.Chooseplan a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.seemore{
  margin-left: 20px;
}
.seemore p{
  margin: 10px 40px -30px 155px;
  color: #a3a3a3;
}
.pricesx3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap:50px;
}

.price2{
  border: 1px solid;
  border-radius:30px ;
  border-color: black;
  width: 400px;
}

.price3{
  border: 1px solid;
  border-radius:30px ;
  border-color: black;
  width: 400px;
}



.book-appointment-section {
    padding: 80px 40px;
    background-image: url(images/rectangle-96.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.appointment-form-container {
    max-width: 950px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn-book-appointment {
    background-color: #5EE088;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 25px;
}

.form-title {
    color: #3498DB;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}

.appointment-form-container .form-row {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.appointment-form-container .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.appointment-form-container label {
    font-size: 16px;
    color: #5B5B5B;
    margin-bottom: 10px;
    font-weight: 500;
}

.appointment-form-container input,
.appointment-form-container select,
.appointment-form-container textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #333;
}

.appointment-form-container input::placeholder {
    color: #A9A9A9;
}

.appointment-form-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 20px center;
    color: #5B5B5B;
}

.appointment-form-container textarea {
    min-height: 120px;
    resize: vertical;
    margin-bottom: 15px;
}

.btn-form-submit {
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}


footer {
    background-color: #F4F8FB;
    padding: 80px 40px;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #5B5B5B;
}

.footer-container .footer-left {
    width: 30%;
}

.footer-container .footer-logo {
    height: 60px;
    margin-bottom: 20px;
}

.footer-container .footer-left p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.footer-container .subscribe-form {
    display: flex;
    margin-bottom: 30px;
}

.footer-container .subscribe-form input {
    width: 70%;
    padding: 15px;
    border: 1px solid #E1E1E1;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    background-color: white;
}

.footer-container .subscribe-form button {
    padding: 15px 25px;
    border: 1px solid #E1E1E1;
    background-color: white;
    border-left: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #3498DB;
}

.footer-container .social-icons a {
    color: #3498DB;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-container .footer-right {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-links {
    width: 22%;
}

.footer-container .footer-links h4 {
    color: #2677BC;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 43px;
}

.footer-container .footer-links a {
    display: block;
    color: #5B5B5B;
    text-decoration: none;
    margin-bottom: 15px;
}

.footer-container .footer-links p {
    display: block;
    color: #5B5B5B;
    text-decoration: none;
    margin-bottom: 15px;
    line-height: 1.6;
    width: 250px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    color: white;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;

}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
}

#bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.nav-link-active {
    position: relative;
    text-align: center;
}

.nav-link-active img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.nright {
    position: relative;
    display: flex;
    align-items: center;
}

.nright .search-icon {
    position: absolute;
    left: 15px;
    font-size: 16px;
    color: white;
}

.nright input {
    width: 220px;
    height: 50px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 45px;
    font-size: 16px;
}

.nright input::placeholder {
    color: white;
    font-family: "Heebo", sans-serif;
}

.hero {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.hleft {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.priority-tag {
    background-color: #2ecc70a8;
    border: 1px solid #5EE088;
    padding: 8px 20px;
    border-radius: 12px 12px 0px 12px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}

.hleft h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hleft h5 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.btn-primary {
    background-color: #FF6F61;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-primary img {
    height: 30px;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

.open-hours {
    background-color: transparent;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -8%;
    margin-right: 232px;
}


.hours-text h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.hours-text p {
    font-weight: 300;
    font-size: 15px;
}

.hright {
    flex: 1.1;
    position: relative;
    min-height: 600px;
}

.doctor-img {
    position: absolute;
    top: -1px;
    right: 0;
    width: 100%;
    max-width: 550px;
    overflow: visible;
}

.appointment-card {
    position: absolute;
    bottom: -30px;
    left: 60%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    background-color: white;
    color: #333;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    position: relative;
}

.form-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #3498DB;
}

.form-group select {
    width: 100%;
    padding: 12px 15px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23888' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.btn-check {
    width: 100%;
    background-color: #FF6F61;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}


.nzl{
  height: 200px;
}