*{
  margin:0;
  padding:0;
}
p{
  font-family:"Inter", sans-serif;
}
h1{
  font-family: "Inter", sans-serif;
}
.acceuil{
  background-image: url("images/Frame\ 1000002035.png");
}
h6{
font-family: "Inter", sans-serif;
}
h4{
  font-family: "Inter", sans-serif;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

#under{
  margin:15px;
}

#logo{
  position: relative;
  height: 130px;
  bottom: 50px;
}
.search-box input{
  color: white;
  height: 35px;
  background-color:#175190;
}
.search-box ::placeholder{
  color:white;
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  font-size: 16px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hleft{
  position: relative;
  left: 120px;
  bottom: 200px;
  color: white;
}
.hleft a {
  color: white;
  text-decoration: none;
}
.hleft .or-text{
  font-weight: bold;
}

.horaire{
  margin-top: 90px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.hright{
  margin-top:0px;
}

#i1{
  width: 500px;
}

.partners{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}
.partners img{
  margin-top: 25px;
  width: 250px;
  height: 60px;
}


.About{
  display: flex;
  background-image: url("images/Frame\ 1000001998.png");
  width: 100%;
  background-repeat:no-repeat;
}
.about-left{
  position: relative;
  left: 120px;
}
.about-right{
  margin-left: 200px;
}
.about-right p{
  font-size: 15px;
  margin: 20px 20px 20px 0px;
}
.about-right h1{
  font-size: 50px;
  color:#3498db;
}
.about-right h4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background: #5ee088;
  color: white;
  margin: 20px 20px 20px 0px;
  font-size: 20px;
}




.stat{
  background-color: white;
  height: 200px;
}
.stat h1{
  color: #3498db;
  font-size: 60px;
}
.stat ul {
  display: flex;
  justify-content: center;
  gap: 200px;
  list-style: none;
  padding: 0;
}

.stat li {
  text-align: center;
  margin-top:40px;
}
.stat li p{
  margin-top: 20px;
}
.our-services{
  background-color:#f4f8fb;
}
.our-services-left{
  margin-left:120px;
}
.our-services-left p{
  margin-top: ;
}
.our-services-right{
  margin-left: 1300px;
  margin-top: -80px;
}

.user-story{
  margin-top: -25px;
  border-radius: 30px;
  border: 2px solid;
  border-color: rgb(196, 194, 194);
  padding:30px;
  width: 500px;
}
.more-about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background:#ff6f61;
  width: 200px;
  margin-top: 30px;
}
.more-about-us a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}