*{
  margin:0;
  padding:0;
}

.acceuil{
  background-image: url("images/Frame\ 1000002035.png");
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

#under{
  margin:15px;
}

#logo{
  position: relative;
  height: 130px;
  bottom: 50px;
}
.search-box input{
  color: white;
  height: 35px;
  background-color:#175190;
}
.search-box ::placeholder{
  color:white;
}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  font-size: 16px;
}

.hero-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hleft{
  position: relative;
  left: 120px;
  bottom: 200px;
  color: white;
}
.hleft a {
  color: white;
  text-decoration: none;
}
.hleft .or-text{
  font-weight: bold;
}

.horaire{
  margin-top: 90px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.hright{
  margin-top:0px;
}

#i1{
  width: 500px;
}

.partners{
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}
.partners img{
  margin-top: 25px;
  width: 300px;
  height: 60px;
}
.About{
  display: flex;
  background-image: url("images/Frame\ 1000001998.png");
  width: 100%;
  background-repeat:no-repeat;
}
.about-left{
  position: relative;
  left: 120px;
}
.about-right{
  margin-left: 200px;
}
.about-right h1{
  color:#3498db;
}

.stat{
  background-color: rgb(135, 60, 60);
  height: 200px;
}
.stat h1{
  color: #3498db;
  font-weight: bold;
}
.stat ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
}

.stat li {
  text-align: center;
  margin-top:80px;
}
